<h1>Products</h1>

<% Product.all.each do |product| %>
  <%= form_with url: add_to_path() do |form| %>
    <%= form.hidden_field :user_id, value: session[:current_user_id] %>
    <%= form.hidden_field :product_id, value: product.id%>
    <%= image_tag(product.asseturl, :alt => "RoR icon", height: '200', width: '130')%>
    <p><%= product.name %></p>
    <p>$ <%= product.price %></p>
    <p><%= product.itemdescription %></p>
    
     <div class="col-xs-3">
          <b>Size</b><br>
          <%= form.select(:size, options_for_select([["Small", "Small"], ["Large", "Large"]])) %>
     </div>
          <div class="col-xs-3">
          <b>Colour</b><br />
          <%= form.select(:colour, options_for_select([["RED", "RED"], ["BLUE", "BLUE"]])) %>
     </div>
     <div class="col-xs-3">
          <b>Quantity</b><br />
          <%= form.number_field :quantity, :value => 1, :min => 0 , :step => 1, :required => true %>
    </div>
    <div class = "container">
      <%= form.submit 'Add item'%>
    </div>
    <% end %> 
<% end %>